### Intersnhip number is 2312
### web-scraping-assignment-3--1---1---2
### Ansh sharma
### ID 65

In [38]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
from selenium.webdriver.common.action_chains import ActionChains
import warnings
from selenium.common.exceptions import NoSuchElementException
warnings.filterwarnings("ignore")
import time

In [3]:
class getWebDriver:
    def __init__(self):
        chrome_options = webdriver.ChromeOptions()
        chrome_options.add_experimental_option("detach", True)
        self.driver = webdriver.Chrome(options=chrome_options)
        
    def makeDriver(self,url):
        self.driver.get(url)
        return self.driver

## 1
Scrape the details of most viewed videos on YouTube from Wikipedia. Url
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank
B) Name
C) Artist
D) Upload date
E) Views

In [10]:
driver_object = getWebDriver()
driver = driver_object.makeDriver("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

time.sleep(3)

data = driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr')
print(len(data))

raw_data = []

30

In [11]:
for item in range(len(data)):
    inner_list = []
    get_videoname = data[item].find_element(By.XPATH,'./td[1]')
    get_uploadername = data[item].find_element(By.XPATH,'./td[2]')
    get_views = data[item].find_element(By.XPATH,'./td[3]')
    get_date = data[item].find_element(By.XPATH,'./td[4]')
    inner_list.append(item)
    inner_list.append(get_videoname.text)
    inner_list.append(get_uploadername.text)
    inner_list.append(get_views.text)
    inner_list.append(get_date.text)
    raw_data.append(inner_list)

In [20]:
df = pd.DataFrame(raw_data,columns=['Rank','VideoName','UploadedBy','View (in Billions)','Upload Date'])
df.set_index('Rank', inplace=True)
df['VideoName'] = df['VideoName'].str.replace('"', '')
df

,VideoName,UploadedBy,View (in Billions),Upload Date
Rank,,,,
0,Baby Shark Dance[6],Pinkfong Baby Shark - Kids' Songs & Stories,14.09,"June 17, 2016"
1,Despacito[9],Luis Fonsi,8.38,"January 12, 2017"
2,Johny Johny Yes Papa[17],LooLoo Kids - Nursery Rhymes and Children's Songs,6.87,"October 8, 2016"
3,Bath Song[18],Cocomelon - Nursery Rhymes,6.62,"May 2, 2018"
4,Shape of You[19],Ed Sheeran,6.20,"January 30, 2017"
5,See You Again[22],Wiz Khalifa,6.17,"April 6, 2015"
6,Wheels on the Bus[27],Cocomelon - Nursery Rhymes,5.88,"May 24, 2018"
7,Phonics Song with Two Words[28],ChuChu TV Nursery Rhymes & Kids Songs,5.70,"March 6, 2014"
8,Uptown Funk[29],Mark Ronson,5.15,"November 19, 2014"
9,Learning Colors – Colorful Eggs on a Farm[30],Miroshka TV,5.07,"February 27, 2018"
10,Gangnam Style[31],Psy,5.05,"July 15, 2012"
11,Masha and the Bear – Recipe for Disaster[36],Get Movies,4.58,"January 31, 2012"
12,Dame Tu Cosita[37],Ultra Records,4.55,"April 5, 2018"
13,Axel F[38],Crazy Frog,4.34,"June 16, 2009"
14,Sugar[39],Maroon 5,4.00,"January 14, 2015"
15,Counting Stars[40],OneRepublic,3.97,"May 31, 2013"
16,Baa Baa Black Sheep[41],Cocomelon - Nursery Rhymes,3.96,"June 25, 2018"
17,Roar[42],Katy Perry,3.96,"September 5, 2013"
18,Lakdi Ki Kathi[43],Jingle Toons,3.91,"June 14, 2018"
19,Waka Waka (This Time for Africa)[44],Shakira,3.85,"June 4, 2010"
20,Sorry[45],Justin Bieber,3.77,"October 22, 2015"
21,Thinking Out Loud[46],Ed Sheeran,3.73,"October 7, 2014"
22,Humpty the train on a fruits ride[47],Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.73,"January 26, 2018"
23,Shree Hanuman Chalisa[48],T-Series Bhakti Sagar,3.69,"May 10, 2011"
24,Dark Horse[49],Katy Perry,3.67,"February 20, 2014"
25,Perfect[50],Ed Sheeran,3.67,"November 9, 2017"
26,Let Her Go[51],Passenger,3.61,"July 25, 2012"
27,Faded[52],Alan Walker,3.59,"December 3, 2015"
28,Girls Like You[53],Maroon 5,3.56,"May 31, 2018"
29,Lean On[54],Major Lazer Official,3.55,"March 22, 2015"

## 2
Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [25]:
driver_object = getWebDriver()
driver = driver_object.makeDriver("https://www.bcci.tv/")

time.sleep(1)

fixure_click = driver.find_element(By.XPATH, '/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
fixure_click.click()

time.sleep(3)

data = driver.find_elements(By.XPATH, '//div[@class="fixture-tab-inner row"]/div/div')
raw_data = []

In [28]:
for item in range(len(data)):
    inner_list = []
    get_seriesname = data[item].find_element(By.XPATH,'./div/div/div/h5')
    get_place_1 = data[item].find_element(By.XPATH,'./div[2]/div/span[1]')
    get_place_2 = data[item].find_element(By.XPATH,'./div[2]/div/span[2]')
    place = get_place_1.text + get_place_2.text
    get_date = data[item].find_element(By.XPATH,'./div/div/div/div[2]/div[1]')
    get_time = data[item].find_element(By.XPATH,'./div/div/div/div[2]/div[2]')

    inner_list.append(get_seriesname.text)
    inner_list.append(place)
    inner_list.append(get_date.text)
    inner_list.append(get_time.text)
    raw_data.append(inner_list)

In [29]:
df = pd.DataFrame(raw_data,columns=['Series','Place','Date','Time'])
df

,Series,Place,Date,Time
0,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium,D...","7 MARCH, 2024",9:30 AM IST
1,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,Harare","6 JULY, 2024",8:00 PM IST
2,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,Harare","7 JULY, 2024",8:00 PM IST
3,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,Harare","10 JULY, 2024",8:00 PM IST
4,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,Harare","13 JULY, 2024",8:00 PM IST
5,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,Harare","14 JULY, 2024",8:00 PM IST

## 3
Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [39]:
driver_object = getWebDriver()
driver = driver_object.makeDriver(" http://statisticstimes.com/")

time.sleep(1)
hover_economy = driver.find_element(By.XPATH, '/html/body/div[2]/div[1]/div[2]/div[2]/button')
action_chains = ActionChains(driver)
action_chains.move_to_element(hover_economy).perform()

economy_click = driver.find_element(By.XPATH, '/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
economy_click.click()

time.sleep(2)

try:
    ad_click = driver.find_element(By.XPATH, '//*[@id="card"]/div[1]')
    ad_click.click()
    
except NoSuchElementException:
    print("Unexpected Ad appeared !!!")

Unexpected Ad appeared !!!

## 4
Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used 
Note: - From the home page you have to click on the trending option from Explore menu through code

In [41]:
driver_object = getWebDriver()
driver = driver_object.makeDriver("https://github.com/")

time.sleep(1)

open_source = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
action_chains = ActionChains(driver)
action_chains.move_to_element(open_source).perform()

trending_click = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending_click.click()

time.sleep(3)

In [48]:
data = driver.find_elements(By.XPATH, '/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article')
raw_data = []

for item in range(len(data)):
    inner_list = []
    get_name = data[item].find_element(By.XPATH,'./h2/a/span')
    get_name2 = data[item].find_element(By.XPATH,'./h2/a')
    name = get_name.text + get_name2.text
    try:
        get_desc = data[item].find_element(By.XPATH,'./p').text
    except:
        get_desc = '---'
        
    get_count = data[item].find_element(By.XPATH,'./div[2]/a[1]').text
    try:
        get_lang = data[item].find_element(By.XPATH,'./div[2]/span/span[2]').text
    except:
        get_lang = '---'
    
    inner_list.append(name)
    inner_list.append(get_desc)
    inner_list.append(get_count)
    inner_list.append(get_lang)
    raw_data.append(inner_list)

In [49]:
df = pd.DataFrame(raw_data,columns=['Repository title','Repository description','Contributors count','Language used'])
df

,Repository title,Repository description,Contributors count,Language used
0,Lissy93 /Lissy93 / web-check,🕵️‍♂️ All-in-one OSINT tool for analysing any ...,"10,362",TypeScript
1,yuzu-emu /yuzu-emu / yuzu,Nintendo Switch emulator,"35,940",C++
2,Netflix /Netflix / bpftop,bpftop provides a dynamic real-time view of ru...,"1,038",Rust
3,yuzu-emu /yuzu-emu / yuzu-android,---,"1,878",C++
4,dockur /dockur / windows,Windows in a Docker container.,"2,473",Shell
5,polyfillpolyfill /polyfillpolyfill / polyfill-...,Automatic polyfill service.,"6,344",---
6,taikoxyz /taikoxyz / taiko-mono,"A decentralized, Ethereum-equivalent ZK-Rollup. 🥁","3,297",HTML
7,Eladlev /Eladlev / AutoPrompt,A framework for prompt tuning using Intent-bas...,827,Python
8,public-apis /public-apis / public-apis,A collective list of free APIs,"283,422",Python
9,Lunakepio /Lunakepio / Mario-Kart-3.js,---,"2,390",JavaScript
10,HumanAIGC /HumanAIGC / EMO,---,"3,140",---
11,yuzu-emu /yuzu-emu / yuzu-mainline,---,"2,631",C++
12,SuperTux /SuperTux / supertux,SuperTux source code,"2,212",C++
13,1c7 /1c7 / chinese-independent-developer,👩🏿‍💻👨🏾‍💻👩🏼‍💻👨🏽‍💻👩🏻‍💻中国独立开发者项目列表 -- 分享大家都在做什么,"29,381",---
14,toeverything /toeverything / AFFiNE,There can be more than Notion and Miro. AFFiNE...,"27,789",TypeScript
15,HumanAIGC /HumanAIGC / AnimateAnyone,Animate Anyone: Consistent and Controllable Im...,"13,154",---
16,tigerbeetle /tigerbeetle / tigerbeetle,The distributed financial transactions databas...,"5,530",Zig
17,pineappleEA /pineappleEA / pineapple-src,yuzu Early Access source code,"4,015",C++
18,pure-admin /pure-admin / vue-pure-admin,🔥 全面ESM+Vue3+Vite+Element-Plus+TypeScript编写的一款...,"12,565",Vue
19,Ryujinx /Ryujinx / Ryujinx,Experimental Nintendo Switch Emulator written ...,"26,592",C#
20,Avaiga /Avaiga / taipy,Turns Data and AI algorithms into production-r...,"6,429",Python
21,cloudcommunity /cloudcommunity / Free-Certific...,A curated list of free courses & certifications.,"17,862",---
22,ossu /ossu / computer-science,🎓 Path to a free self-taught education in Comp...,"159,362",---
23,myshell-ai /myshell-ai / MeloTTS,High-quality multi-lingual text-to-speech libr...,702,Python
24,cbh123 /cbh123 / stickerbaker,Let's bake some (AI) stickers!,423,Elixir

## 5
Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
 Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [60]:
driver_object = getWebDriver()
driver = driver_object.makeDriver("https:/www.billboard.com")

time.sleep(1)

charts_click = driver.find_element(By.XPATH, '//*[@id="main-wrapper"]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
charts_click.click()

time.sleep(3)

billboard_click = driver.find_element(By.XPATH, '/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]')
billboard_click.click()

time.sleep(3)

raw_data = []

In [61]:
data = driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]')

for item in range(len(data)):
    inner_list = []
    get_name = data[item].find_element(By.XPATH,'./ul/li[4]/ul/li/h3').text
    get_artist = data[item].find_element(By.XPATH,'./ul/li[4]/ul/li/h3').text
    lr = data[item].find_element(By.XPATH,'.//li[@class="lrv-u-width-100p"]/ul/li[4]/span').text
    pr = data[item].find_element(By.XPATH,'.//li[@class="lrv-u-width-100p"]/ul/li[5]/span').text
    wob = data[item].find_element(By.XPATH,'.//li[@class="lrv-u-width-100p"]/ul/li[6]/span').text
    
    inner_list.append(get_name)
    inner_list.append(get_artist)
    inner_list.append(lr)
    inner_list.append(pr)
    inner_list.append(wob)
    raw_data.append(inner_list)

In [62]:
df = pd.DataFrame(raw_data,columns=['Song','Artist','Last week rank','Peak rank','Weeks on board'])
df

,Song,Artist,Last week rank,Peak rank,Weeks on board
0,Texas Hold 'Em,Texas Hold 'Em,2,1,2
1,Lovin On Me,Lovin On Me,1,1,15
2,Lose Control,Lose Control,5,2,28
3,Carnival,Carnival,3,3,2
4,Beautiful Things,Beautiful Things,4,3,5
...,...,...,...,...,...
95,Talking,Talking,30,30,2
96,Monaco,Monaco,97,5,19
97,Where It Ends,Where It Ends,-,32,8
98,Wondering Why,Wondering Why,-,71,8
99,Northern Attitude,Northern Attitude,75,37,12

## 6
Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [63]:
driver_object = getWebDriver()
driver = driver_object.makeDriver("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

raw_data = []

In [66]:
data = driver.find_elements(By.XPATH, '//*[@id="article-body-blocks"]/div/table/tbody/tr')

for item in range(len(data)):
    inner_list = []
    get_name = data[item].find_element(By.XPATH,'./td[2]').text
    get_artist = data[item].find_element(By.XPATH,'./td[3]').text
    volume = data[item].find_element(By.XPATH,'./td[4]').text
    publisher = data[item].find_element(By.XPATH,'./td[5]').text
    genre = data[item].find_element(By.XPATH,'./td[6]').text
    
    inner_list.append(get_name)
    inner_list.append(get_artist)
    inner_list.append(volume)
    inner_list.append(publisher)
    inner_list.append(genre)
    raw_data.append(inner_list)

In [67]:
df = pd.DataFrame(raw_data,columns=['Book name','Author name','Volumes sold','Publisher','Genre'])
df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

## 7
Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have
to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [70]:
driver_object = getWebDriver()
driver = driver_object.makeDriver("https://www.imdb.com")

menu_click = driver.find_element(By.XPATH, '/html/body/div[2]/nav/div[2]/label[1]/span')
menu_click.click()

time.sleep(1)

yes_click = driver.find_element(By.XPATH, '/html/body/div[2]/nav/div[2]/aside[1]/div/div[2]/div/div[2]/div[1]/span/div/div/ul/a[2]/span')
yes_click.click()

time.sleep(3)
raw_data = []

In [72]:
data = driver.find_elements(By.XPATH, '//*[@id="__next"]/main/div/div[3]/section/div/div[2]/div/ul/li')

for item in range(len(data)):
    inner_list = []
    get_name = data[item].find_element(By.XPATH,'./div[2]/div/div/div/a/h3').text
    get_Year = data[item].find_element(By.XPATH,'./div[2]/div/div/div[2]/span[1]').text
    Run = data[item].find_element(By.XPATH,'./div[2]/div/div/div[2]/span[2]').text
    Ratings = data[item].find_element(By.XPATH,'./div[2]/div/div/span/div/span').text
    
    inner_list.append(get_name)
    inner_list.append(get_Year)
    inner_list.append(Run)
    inner_list.append(Ratings)

    raw_data.append(inner_list)

In [92]:
df = pd.DataFrame(raw_data,columns=['Name','Year span','Run time','Ratings'])
df['Voting'] = df['Ratings'].str.split('\n').str[1]
df['Rating'] = df['Ratings'].str.split('\n').str[0]
del df['Ratings']
df['Series Name'] = df['Name'].str.split('.').str[1]
del df['Name']
df.insert(0,'Name', df['Series Name'])
del df['Series Name']

df['Voting'] = df['Voting'].str.replace("(", "").str.replace(")", "")
df

                           Name  Year span Run time Voting Rating
0                  Breaking Bad  2008–2013   62 eps   2.1M    9.5
1               Planet Earth II       2016    6 eps   156K    9.5
2                  Planet Earth       2006   11 eps   219K    9.4
3              Band of Brothers       2001   10 eps   519K    9.4
4                     Chernobyl       2019    5 eps   853K    9.3
..                          ...        ...      ...    ...    ...
245            Alchemy of Souls      2022–   30 eps    16K    8.8
246                 Foyle's War  2002–2015   28 eps    18K    8.6
247   Alfred Hitchcock Presents  1955–1962  268 eps    19K    8.5
248                   Southland  2009–2013   43 eps    29K    8.5
249             Generation Kill       2008    7 eps    59K    8.5

[250 rows x 5 columns]

## 8
Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You
have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
 Note: - from the home page you have to go to the Show All Dataset page through code.

In [95]:
driver_object = getWebDriver()
driver = driver_object.makeDriver("https://archive.ics.uci.edu")

time.sleep(1)

menu_click = driver.find_element(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
menu_click.click()

time.sleep(3)
raw_data = []

In [97]:
for item in range(0,11):
    data = driver.find_elements(By.XPATH, '//div[@role="row"]')
    
    expand_btn = driver.find_element(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]')
    expand_btn.click()
    
    break
    for item in range(len(data)):
        inner_list = []
        get_name = data[item].find_element(By.XPATH,'./div/div[2]/h2/a').text
        get_type = data[item].find_element(By.XPATH,'./div[2]/div/div/div[2]/span[1]').text
        Task = data[item].find_element(By.XPATH,'./div[2]/div/div/div[2]/span[2]').text
        instances = data[item].find_element(By.XPATH,'./div[2]/div/div/span/div/span').text
        attribute = data[item].find_element(By.XPATH,'./div[2]/div/div/span/div/span').text
        Year = data[item].find_element(By.XPATH,'./div[2]/div/div/span/div/span').text
        
        inner_list.append(get_name)
        inner_list.append(get_type)
        inner_list.append(Task)
        inner_list.append(instances)
        inner_list.append(attribute)
        inner_list.append(Year)
        print(inner_list)
        raw_data.append(inner_list)
    
    next_btn = driver.find_element(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
    next_btn.click()
    print("Next page")
    time.sleep(2)

In [ ]:
df = pd.DataFrame(raw_data,columns=['Dataset name','Data type','Task','No of instances','No of attribute',' Year'])
df